<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <div align="center" class="form">
        <h1 class="auth">Авторизация</h1>

        {% if form.errors %}
            <p>{{ form.errors.error }}</p>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Войти</button>
        </form>
    </div>
<div align="right">
    <h3>Для пробного ознакомления можете использовать следующие регистрационные данные:</h3>
    <h3>Логин: test_doctor_1</h3>
    <h3>Пароль: ActiveCat123</h3>
<a href="{% url 'mainpage' %}">На главную страницу</a>
</div>
</body>
</html>