{% extends 'core/base.html' %}

{% block content %}
<div>
  <h2>Добавить доктора</h2>
  <hr>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <h2>Форма заполнения даты рождения: месяц/день/год</h2>
    <input type="submit" value="Добавить">
  </form>
</div>
<h3 align="right">
    <a href="{% url 'doctors' %}">Вернуться на предыдущую страницу</a>
</h3>
{% endblock %}