{% extends 'core/base.html' %}

{% block content %}
<a style="margin-left: 2%;" href="{% url 'addassistants' %}"><button>Добавить ассистента</button></a>
    <table align="center" style="width: 100%; padding: 10px">
  <tr>
    <th style="width: 4%">№</th>
    <th style="width: 4%">Фамилия</th>
    <th style="width: 4%">Имя</th>
    <th style="width: 4%">Отчество</th>
    <th style="width: 4%">Дата рождения</th>
    <th style="width: 4%">Пол</th>
    <th style="width: 4%">Специализация помощника</th>
  </tr>
      {% for Assistant in Assistants %}
        <tr>
          <td>{{ forloop.counter }}</td><td>{{ Assistant.last_name }}</td><td>{{ Assistant.first_name }}</td>
          <td>{{ Assistant.middle_name }}</td><td>{{ Assistant.birthday }}</td><td>{{ Assistant.gender }}</td>
          <td>{{ Assistant.assistant_specialization }}</td>
        </tr>
      {% endfor %}
</table>
<h3 align="right">
    <a href="{% url 'info' %}">Вернуться на главную страницу</a>
</h3>
{% endblock %}