<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'core/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="sidenav">
      <a href="{% url 'doctors' %}">Доктора</a>
      <a href="{% url 'clients' %}">Клиенты</a>
      <a href="{% url 'assistants' %}">Ассистенты</a>
      <a href="{% url 'redzones' %}">Карантийная зона</a>
      <a href='/admin/'>Администраторская</a>
    </div>

    <div class="main">
      {% block content %}{% endblock %}
    </div>
</body>
</html>