{% extends 'core/base.html' %}

{% block content %}
<a style="margin-left: 2%;" href="{% url 'addclients' %}"><button>Добавить клиента</button></a>
    <table align="center" style="width: 90%; padding: 10px">
  <tr>
    <th style="width: 4%">№</th>
    <th style="width: 4%">Фамилия</th>
    <th style="width: 4%">Имя</th>
    <th style="width: 4%">Отчество</th>
    <th style="width: 4%">Дата рождения</th>
    <th style="width: 4%">Пол</th>
    <th style="width: 4%">Диагноз</th>
    <th style="width: 4%">Паспортные данные</th>
    <th style="width: 4%">адрес электронной почты</th>
    <th style="width: 4%">Рост</th>
    <th style="width: 4%">Вес</th>
    <th style="width: 4%">Группа крови</th>
    <th style="width: 4%">Резус-фактор</th>
    <th style="width: 4%">Список перенесенных заболеваний</th>
    <th style="width: 4%">Список перенесенных операций</th>
    <th style="width: 4%">Количество госпитализаций</th>
    <th style="width: 4%">Дата госпитализации</th>
    <th style="width: 4%">Номер больницы госпитализации</th>
    <th style="width: 4%">Причина госпитализации</th>
    <th style="width: 4%">Общий анализ крови</th>
    <th style="width: 4%">Биохимический анализ крови</th>
    <th style="width: 4%">Общий анализ мочи</th>
    <th style="width: 4%">Артериальное давление</th>
    <th style="width: 4%">Расшифровка рентгенограммы</th>
    <th style="width: 4%">Расширфока фиброгастродуоденоскопии</th>
    <th style="width: 4%">Расшифровка МРТ</th>
    <th style="width: 4%">Расшифровка ЭКГ</th>
  </tr>
      {% for Client in Clients %}
        <tr>
          <td>{{ forloop.counter }}</td><td>{{ Client.last_name }}</td><td>{{ Client.first_name }}</td>
          <td>{{ Client.middle_name }}</td><td>{{ Client.birthday }}</td><td>{{ Client.gender }}</td>
          <td>{{ Client.diagnosis }}</td><td>{{ Client.passport_data }}</td>
          <td>{{ Client.email }}</td><td>{{ Client.growth }}</td><td>{{ Client.weight }}</td>
          <td>{{ Client.blood_type }}</td><td>{{ Client.rhesus_factor }}</td>
          <td>{{ Client.list_of_transferred_diseases }}</td><td>{{ Client.list_of_transferred_operations }}</td>
          <td>{{ Client.count_of_hospitalizations }}</td><td>{{ Client.date_of_hospitalization }}</td>
          <td>{{ Client.hospital_address }}</td><td>{{ Client.reason_for_hospitalization }}</td>
          <td>{{ Client.general_blood_test }}</td><td>{{ Client.biochemical_blood_analysis }}</td>
          <td>{{ Client.general_urine_analysis }}</td><td>{{ Client.blood_pressure }}</td>
          <td>{{ Client.decoding_X_ray }}</td><td>{{ Client.decoding_of_fgds }}</td>
          <td>{{ Client.decoding_mri }}</td><td>{{ Client.decoding_electrocardiography }}</td>
        </tr>
      {% endfor %}
</table>
<h3 align="right">
    <a href="{% url 'info' %}">Вернуться на главную страницу</a>
</h3>
{% endblock %}