{% extends 'core/base.html' %}

{% block content %}
<a style="margin-left: 2%;" href="{% url 'adddoctors' %}"><button>Добавить доктора</button></a>
    <table align="center" style="width: 100%; padding: 10px">
  <tr>
    <th style="width: 2%">№</th>
    <th style="width: 8%">Фамилия</th>
    <th style="width: 8%">Имя</th>
    <th style="width: 8%">Отчество</th>
    <th style="width: 10%">Дата рождения</th>
    <th style="width: 4%">Пол</th>
    <th style="width: 20%">Специализация врача</th>
  </tr>
      {% for Doctor in Doctors %}
        <tr>
          <td>{{ forloop.counter }}</td><td>{{ Doctor.last_name }}</td><td>{{ Doctor.first_name }}</td>
          <td>{{ Doctor.middle_name }}</td><td>{{ Doctor.birthday }}</td><td>{{ Doctor.gender }}</td>
          <td>{{ Doctor.doctors_specialization }}</td>
        </tr>
      {% endfor %}
</table>
<h3 align="right">
    <a href="{% url 'info' %}">Вернуться на главную страницу</a>
</h3>
{% endblock %}