{% extends 'core/base.html' %}

{% block content %}
<h1 align="center">
    Информация о проекте:
    <br></h1>
    <h1 align='center'>
    Работу выполнил Гаврилов Данил
    <br>
    Сайт с биометрическими ПД клиентов медицинской организации.
    <br>
    <br>
    Выполненный спектр работ:
    <br>
    1) Авторизация работников;
    <br>
    2) База данных клиентов с результатами их анализов;
    <br>
    3) Разграничение доступа к информации.
    <br>
</h1>
<h2 align="right">
<a href="{% url 'login' %}">Выйти</a>
</h2>
{% endblock %}
