<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <div align="center" class="form">
        <h2 class="auth">Учебный проект по стажировке от компании "Интеллектуальный КОД"</h2>
        <h1>Введение в backend разработку</h1>
        <a href="{% url 'login' %}">Войти</a>
    </div>
</body>
</html>