{% extends 'core/base.html' %}

{% block content %}
<a style="margin-left: 2%;" href="{% url 'addcabinets' %}"><button>Добавить кабинет</button></a>
    <table align="center" style="width: 100%; padding: 10px">
  <tr>
    <th style="width: 2%">№</th>
    <th style="width: 25%">Номер кабинета в карантийной зоне</th>
    <th style="width: 25%">Дата поступления больного в карантийную зону</th>
  </tr>
      {% for Redzone in Redzones %}
        <tr>
          <td>{{ forloop.counter }}</td><td>{{ Redzone.cabinet_number }}</td><td>{{ Redzone.date_admission }}</td>
        </tr>
      {% endfor %}
</table>
<h3 align="right">
    <a href="{% url 'info' %}">Вернуться на главную страницу</a>
</h3>
{% endblock %}