 /* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 300px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
"""Ниже оформление таблиц на сайте"""
table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans_Serif;
  font-size: 16px;
  width: 640px;
  text-align: justify;
  border-collapse: collapse;
  background: #252F48;
  margin: 10px;
}
th {
  color: #EDB749;
  border-bottom: 1px solid #37B5A5;
  padding: 12 px 17px;
}
td {
  color: #CAD4D6;
  border-bottom: 1px solid #37B5A5;
  border-right: 1px solid #37B5A5;
  padding: 7px 17px;
}
tr:last-child td {
  border-bottom: none;
}
td:last-child {
  border-right: none;
}
tr:hover td {
text-decoration: underline;
}
